.table-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
  box-sizing: border-box;
  position: relative;
  // padding: 20px 0 0 0;

  &-btns {
    display: flex;
    align-items: center;
    &::after {
      content: '';
      width: 1px;
      height: 12px;
      background-color: #e5e5e5;
      margin-left: 12px;
      display: inline-block;
    }
    .is-disabled.el-button--primary {
      background-color: #f5f5f5;
      border-color: #e5e5e5;
      color: #bfbfbf;
      &:hover{
        color: #bfbfbf !important;
      }
    }
  }

  &-title {
    font-size: 16px;
    // font-family: PingFangSC, PingFangSC-Medium;
    font-family: PingFangSC, PingFangSC-Medium, sans-serif;
    font-weight: 600;

    color: #262626;

    .sub_title {
      font-size: 14px;
      font-family: PingFangSC, PingFangSC-Regular, sans-serif;
      font-weight: 400;
      text-align: left;
      color: #8c8c8c;
      line-height: 20px;

      &::before {
        content: '';
        width: 1px;
        height: 12px;
        background-color: #e5e5e5;
        display: inline-block;
        margin: 0 12px;
        vertical-align: middle;
      }
    }
  }
}

.dropdown {
  padding-left: 16px;
}

/deep/.icon-product-category {
  margin-right: 5px;
}

/deep/.el-icon-caret-bottom.el-icon-caret-top {
  margin-left: 5px;
}

/deep/.el-button.el-dropdown-selfdefine {
  padding: 6px 12px;
}
/deep/.el-button.is-disabled:hover{
  border-color: #ebeef5;
}
/deep/.el-button::before {
  margin-right: 5px;
}