.table-tools {
  // padding: 0 0 16px 0;
  // height: 23px;
  padding: 21px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  em {
    font-size: 20px;
    color: #626262;
    padding: 0 5px;
    cursor: pointer;
  }

  &-item {
    &-ul {
      padding: 0;

      li {
        text-align: center;
        padding: 2px 0;
        cursor: pointer;
        list-style: none;

        &:hover {
          background-color: #f6f6f6;
        }
      }

      .is-active {
        color: #3171f2;
      }
    }

  }
}

/deep/.focusing {
  display: none !important;
}