.DataQueryRef {
    height: 100%;
}
.sub-cont-wrap {
height: 100%;
padding: 0px;
/deep/.zoom-main-cont {
    height: 100% !important;
    .zoom-cont-box-left {
    border-right: none;
    .slot-left-top {
        height: 100%;
        padding: 0 20px;
        .container-fluid {
        height: calc(100% - 20px);
        .container-echarts {
            height: 100%;
            padding: 0;
            position: relative;
            .echarts-container {
            padding-top: 16px;
            height: calc(100% - 60px);
            .chart {
                height: 100%;
            }
            }
        }
        }
        .el-date-editor {
        &.el-input__inner {
            width: 230px;
            .el-range-separator {
            line-height: 20px;
            }
        }
        }
    }
    .slot-left-Bottom {
        height: 100%;
        padding: 0 15px;
        .container-fluid {
        padding-top: 10px;
        height: calc(100% - 20px);
        overflow: auto;
        .table-wrap {
            height: 100% !important;
        }
        }
    }
    }
    .zoom-cont-box-right {
    display: none;
    }
}
}